body {
    font-family: Helvetica;
    background-color: rgb(243, 243, 243);
    font-weight: bold;
}

.column {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 300px;
}

input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
    background-color: rgb(243, 243, 243);
}

input:focus {
    outline: none;
}

.button {
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(24, 109, 35);
}

.button:hover {
    background-color: rgb(16, 73, 23);
    cursor: pointer;
}